.btn{
    box-sizing: border-box;
    transition: 1s;
    cursor: pointer;
    &.btn-primary,
    &.btn-secondary{
        padding: 16px;
        font-size: 16px;
        border-radius: 8px;
        
    }
    &.btn-primary{
        color: var(--black);
        background-color: var(--primary);
        &:hover{
            background-color: var(--primary-010);
            color: var(--white);
        }
    }
    &.btn-secondary{
        color: var(--white);
        background-color: var(--secondary);
        &:hover{
            background-color: red;
        }
    }
}