<header>
    <div class="div-desc">
        <h1>Tiago Alves</h1>
        <p>Desenvolvedor Front-End: HTML | CSS | JavaScript | TypeScript | Angular</p>
        <p>Estou estudando na área de desenvolvimento Front-End há 2 anos, tenho um bom conhecimento em HTML, CSS e Javascript e atualmente estou estudando TypeScript e Angular. 
        </p>
        <p>
            Conclui minha graduação no mês de Dezembro de 2023 em Análise e Dsenvolvimento de sistemas.
        </p>
        
    </div>
    <div>
        <img src="assets/header/tiago.jpeg" alt="imagem tiago" height="360px" width="200px">
    </div>
</header>

<aside>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="https://drive.google.com/file/d/1DYWNX8mQvIsG7D5m9JDXg1sfYr7hDoxo/view?usp=sharing" target="_blank" class="btn btn-primary">Download CV</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tiago-alvesdasilva/" target="_blank" class="btn btn-primary">LinkedIn</a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img src="assets/header/whatsapp.png" alt="icone para contato whatsapp" width="22px" height="24px">
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5561994176285&text=Ol%C3%A1%20Tiago,queria um trampo!" target="_blank">
                        <strong>Envie uma menssagem para:</strong>
                        <p>WhatsApp: (61) 9 9417-6285</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img
                src="assets/header/gmail.png"
                alt="Ícone para contato do e-mail"
                width="22px"
                height="24px"
                />

                <figcaption>
                    <a href="mailto:tiago.alvessilva67@gmail.com" target="_blank">
                        <strong>Envie uma e-mail para:</strong>
                        <p>tiago.alvessilva67&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>