<header>
    <img src="assets/header/tiago-pqueno.jpeg" alt="imagem tiago" height="130px" width="130px">
   
    <h1>Tiago Alves</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Front-End HTML |CSS | JavaScript| Angular | Nodejs | Nestjs</p>
        <p>Brasília, DF</p>
        <p>Estou na área de desenvolvimento de software mais de 2 anos.Estou anciosos para dominar angular</p>
        <nav>
            <ul>
                <li>
                    <a href="https://drive.google.com/file/d/1DYWNX8mQvIsG7D5m9JDXg1sfYr7hDoxo/view?usp=sharing" target="_blank" class="btn btn-primary">Download CV</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tiago-alvesdasilva/" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img src="assets/header/whatsapp.png" alt="icone para contato whatsapp" width="22px" height="24px">
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5561994176285&text=Ol%C3%A1%20Tiago,queria um trampo!" target="_blank">
                        <strong>Envie uma menssagem para:</strong>
                        <p>WhatsApp: (11) x xxxx-xxxx</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img
                src="assets/header/gmail.png"
                alt="Ícone para contato do e-mail"
                width="22px"
                height="24px"
                />

                <figcaption>
                    <a href="mailto:tiago.alvessilva67@gmail.com" target="_blank">
                        <strong>Envie uma e-mail para:</strong>
                        <p>tiago.alvessilva67&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>