
:host{
    header, aside{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    header{
        width: 100%;
        .div-desc{
            margin-right: 50px;
            width: 600px;
            text-align: justify;
            h1{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 40px;
            }
            p{
                font-size: 20px;
            }
            button{
                margin: 0;
                padding: 0;
                border: 0;
                margin-top: 30px;
            }
        }
        img{
            margin-top: 15px;
            border: 5px solid var(--white);
        }
    }
    .div-sobre{
        width: 100%;
        h2,p{
            margin: auto;
        }
        h2{
            text-align: center;
            font-size: 27px;
        }
        p{
            text-align: center;
            width: 800px;
        }
    }
    aside{
        nav{
            margin-top: 80px;
            margin-bottom: 50px;
        }
        nav ul, section{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap:  30px;
            li{
                list-style: none;
                a{
                    width: 250px;
                }
            }
        }
        section{
            figure{
                width: 335px;
                height: 77px;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                border: 1px solid var(--white);
                border-radius: 7px;
                figcaption{
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }
                    p{
                        margin: 3px 0;
                    }
                    strong{
                        color: var(--primary);
                    }
                }
            }
        }
    }
    @media (min-width:450px) and (max-width:800px){
        header{
            display: flex;
            flex-direction: column; 
        }
        header{
            .div-desc{
                width: 350px;
            }
        }
        aside{
            
            nav{
                margin-top: 20px;
                margin-bottom: 30px;
            }
            nav ul, section{
                
                display: flex;
                flex-direction: column;
                li{
                    list-style: none;
                    a{
                        width: 190px;
                    }
                }
            }
            section{
                figure{
                    figcaption{
                        a{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }
                        p{
                            margin: 3px 0;
                        }
                        strong{
                            color: var(--primary);
                        }
                    }
                }
            }
        }
    }
}