<header>
    <div class="div-desc">
        <h1>Olá, Me chamo</h1>
        <h1><b>Olavo Moretto</b></h1>
        <br>
        <br>
        <p>Desenvolvedor Front-End e Back-End</p>
        <button>
            <a href="https://drive.google.com/file/d/1mj9f3VLiaSLznLYxn9qKal3oHP3dAqqJ/view?usp=sharing" target="_blank" class="btn btn-primary">Download CV</a>
        </button>
        
    </div>
    <div>
        <img src="assets/header/olavo.png" alt="imagem olavo" height="360px" width="200px">
    </div>
</header>

<div class="div-sobre">
    <h2>Sobre mim</h2>
    <br>
    <br>
    <p>
        Olá, sou Olavo Moretto, um desenvolvedor full-stack apaixonado por criar soluções inovadoras e eficientes para problemas complexos. Com uma sólida experiência tanto no desenvolvimento de back-end quanto no front-end, estou preparado para enfrentar desafios e contribuir de forma significativa para qualquer projeto.
    </p>
    <br>
    <hr>
    <h2 style="margin-top: 30px;">Experiência</h2>
    <br>
    <br>
    <h2>Desenvolvimento Back-end</h2>
    <br> 
    <p>
        <b>Python: </b> Tenho experiência extensiva no desenvolvimento com Python, uma linguagem poderosa e versátil, que utilizei para criar APIs robustas, aplicativos web escaláveis e sistemas de gerenciamento de banco de dados eficientes.
    </p>
    <br>
    <p>
        <b>Laravel: </b>Como um entusiasta do Laravel, construí uma variedade de aplicativos web utilizando este framework PHP elegante e expressivo. Estou familiarizado com suas práticas recomendadas e padrões de desenvolvimento, o que me permite entregar soluções de alta qualidade de forma consistente.
    </p>
    <br>
    <hr>
    <h2 style="margin-top: 30px;">Desenvolvimento Front-end</h2>
    <br>
    <p>
        <b>JavaScript e React: </b>Sou proficiente em JavaScript e tenho experiência sólida com o framework React. Desenvolvi interfaces de usuário dinâmicas e responsivas, aproveitando a potência do React para criar experiências de usuário fluidas e interativas.
    </p>
    <br>
    <p>
        <b>Sass e Bootstrap: </b>Utilizando Sass, eu simplifico e organizo o código CSS, tornando-o mais modular e fácil de manter. Além disso, sou habilidoso no uso do Bootstrap para garantir que minhas interfaces sejam visualmente atraentes e compatíveis com dispositivos móveis.
    </p>
    <br>
    <p>
        <b>HTML5: </b>Como a espinha dorsal de qualquer aplicativo web, tenho um domínio completo do HTML5 e utilizo as melhores práticas para criar estruturas semânticas e acessíveis.
    </p>
    <br>
    <p>
        <b>Versionamento e Colaboração: </b>Estou acostumado a trabalhar com sistemas de controle de versão como Git, garantindo um fluxo de trabalho colaborativo suave e eficiente.
    </p>
    <br>
    <hr>
    <h2 style="margin-top: 30px;"><b>Por que você deveria me contratar: </b></h2>
    <br>
    <p>
        <b>Experiência abrangente: </b> Minha experiência tanto no back-end quanto no front-end me permite compreender todo o espectro do desenvolvimento web, garantindo uma abordagem holística para a criação de soluções.
        
    </p>
    <br>
    <p>
        <b>Foco na qualidade: </b>Tenho um compromisso inabalável com a qualidade do código, sempre buscando as melhores práticas de desenvolvimento e mantendo-me atualizado com as últimas tendências e tecnologias.
    </p>
    <br>
    <p>
        <b>Colaboração eficaz: </b> Sou um excelente comunicador e trabalho bem em equipe. Estou sempre aberto a feedback e colaboração para alcançarmos os melhores resultados juntos.
        Se você está procurando um desenvolvedor full-stack altamente qualificado e apaixonado, estou pronto para enfrentar desafios e impulsionar o sucesso do seu projeto. Estou ansioso para discutir como posso contribuir para o seu time. Obrigado pela consideração.
    </p>
    
</div>

