@font-face {
    font-family: font;
    src: url(Skyscapers.ttf);
}
:host{
    header, aside{
        display: flex;
        
        justify-content: center;
        align-items: center;
    }
    header{
        .div-desc{
            margin-right: 50px;
            width: 600px;
            h1{
                font-family: 'font';
            }
        }
        
        
        img{
            margin-top: 15px;
            border: 5px solid var(--white);
        }
    }
    aside{
        p{
            text-align: center;
        }
        nav{
            margin-top: 80px;
            margin-bottom: 50px;
        }
        nav ul, section{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap:  30px;
            li{
                list-style: none;
                a{
                    width: 250px;
                }
            }
        }
        section{
            figure{
                width: 335px;
                height: 77px;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                border: 1px solid var(--white);
                border-radius: 7px;
                figcaption{
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }
                    p{
                        margin: 3px 0;
                    }
                    strong{
                        color: var(--primary);
                    }
                }
            }
        }
    }
    @media (max-width: 750px){
        aside nav ul,
        section{
            flex-direction: column;
            gap: 15px;
        }
        aside nav ul li,
        aside nav ul li a,
        section figure{
            width: 100%;
        }
        
    }
}