<div class="container">
    <h2>Projetos Desenvolvidos</h2>
    <div class="container-img"> 
        <div>
            <div class="div-project">
                <img  src="assets/projetos/court.png" alt=""> 
                <p><a href="https://moretto04.github.io/courtesy/" target="_blank">Courtsey -> ecommerce de orupas</a></p>
            </div>
            
        </div>
        <div>
            <div class="div-project">
                <img src="assets/projetos/diagonal.png" alt=""> 
                <p><a href="https://www.diagonalstudio.com.br/" target="_blank">Diagonal -> empresa de consultoria de TI</a></p>
            </div>
    </div>
</div>
