:host{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    h2{
        text-align: center;
        
    }
    .container-img{
        margin-left: -50px;
        display: flex;
        div img{
            width: 400px;
            height: 200px;
        }
        div div{
            margin-right: 40px;
        }
        
    }
    
    
    @media (max-width: 750px){
        ul li{
                flex: 100%;
            }
    }
}
