<div class="container">
    <h2>Projetos Desenvolvidos</h2>
    <div class="container-img"> 
        <div>
            <div class="div-project">
                <img  src="assets/projetos/hunny digital.jpg" alt=""> 
                <p><a href="https://huny-digital.vercel.app/">Hunny Digital</a></p>
            </div>
            <div class="div-project">
                <img src="assets/projetos/site casamento.PNG" alt=""> 
                <p><a href="https://tiagoalvesdasilva.github.io/site_casamento/">Site de Casamneto </a></p>
            </div>
        </div>
        <div>
            <div class="div-project">
                <img src="assets/projetos/countdown.jpg" alt="">
                <p><a href="https://tiagoalvesdasilva.github.io/countdown/">Countdown</a></p>
            </div>
            <div class="div-project">
                <img src="assets/projetos/animes-blog.png" alt="">
                <p><a href="https://angular-blog-mu.vercel.app/">Animes Blog</a></p>
            </div>
        </div>
        
    </div>
</div>
