:host{
    margin-top: 25px;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-010);
    h2{
        text-align: center;
        margin: 0 0 25px 0;
    }
    .container-img{
        display: flex;
        div img{
            width: 400px;
            height: 200px;
        }
        div div{
            margin-right: 40px;
        }
        
    }
    
    
    @media (max-width: 750px){
        ul li{
                flex: 100%;
            }
    }
}
