:root{
    --primary: #13F2F2;
    --primary-010: #0B1726;

    --secondary: #0B1726;
    --secondary-010: #0B1726;

    --white: #fff;

    --black: #0B1726;
    --black-010: #2a2a30;

    --grey: #9b9ba0;
}