:root{
    --primary: #13F2F2;
    --primary-010: #038C8C;

    --secondary: white;
    --secondary-010: white;

    --white: #fff;

    --black: #0B1726;
    --black-010: #4a91e9;

    --grey: #9b9ba0;
}